<h1>Log a New Session</h1>

<%= form_for @game_session do |f| %>
    <%= f.label :date, "Date (YYYY-MM-DD): " %>
    <%= f.text_field :date %><br>
    
    <h3>Game Info</h3>
    <% if @game %>
        <p><%= @game.name %></p>
        <%= f.hidden_field :game_id, :value => @game.id %>
    <% else %>
        <%= f.label :game, "New or Existing Game?" %>
        <%= f.select :game, options_for_select(["New", *@games.map{|game| game.name}]) %><br>
        
        <%= label_tag :new_game_name, "Name (if New): "%>
        <%= text_field_tag :new_game_name %><br>
        <%= label_tag :new_game_type, "Type (if New): "%>
        <%= select_tag :new_game_type, options_for_select(["Board", "Video", "Card", "Dice", "Other"]) %><br>
    <% end %>
    
    <h3>Player Info</h3>
    <p>Player Names: (Use "Me" for yourself)</p>
    <%= text_field_tag "game_session[players][]", "Me" %> Winner? <%= check_box_tag "game_session[winners][]", "1" %><br>
    <%= text_field_tag "game_session[players][]", nil, placeholder: "Player 2" %> Winner? <%= check_box_tag "game_session[winners][]", "2" %><br>
    <%= text_field_tag "game_session[players][]", nil, placeholder: "Player 3" %> Winner? <%= check_box_tag "game_session[winners][]", "3" %><br>
    <%= text_field_tag "game_session[players][]", nil, placeholder: "Player 4" %> Winner? <%= check_box_tag "game_session[winners][]", "4" %><br>
    <%= text_field_tag "game_session[players][]", nil, placeholder: "Player 5" %> Winner? <%= check_box_tag "game_session[winners][]", "5" %><br>
    <%= text_field_tag "game_session[players][]", nil, placeholder: "Player 6" %> Winner? <%= check_box_tag "game_session[winners][]", "6" %><br>
    <%= text_field_tag "game_session[players][]", nil, placeholder: "Player 7" %> Winner? <%= check_box_tag "game_session[winners][]", "7" %><br>
    <%= text_field_tag "game_session[players][]", nil, placeholder: "Player 8" %> Winner? <%= check_box_tag "game_session[winners][]", "8" %><br><br>
    
    <%= f.submit "Create Session" %>
<% end %>
