<h3><%= link_to @game.name, game_path(@game) %></h3>
<h5><%= @game_session.format_date %></h5>
<ul>
    <% @game_session.players.each do |player| %>
            <li>
                <%= player.name == "Current User" ? "Me" : player.name %>
                <% if @game_session.winner.include?(player) %>
                    - WINNER!
                <% end %>
            </li>
    <% end %>
</ul>
<%= link_to "Edit Session", edit_game_game_session_path(@game, @game_session) %><br>
<%= link_to "Delete Session", game_game_session_path(@game, @game_session), method: :delete %>

