<h1>My Games</h2>

<%= link_to "Add New Game", new_game_path %><br><br>

<% if !@boardgames.empty? %>
    <h5>Board Games</h4>
    <ul>
        <% @boardgames.each do |game| %>
            <li><%= link_to game.name, game_path(game) %></li>
        <% end %>
    </ul>
<% end %>

<% if !@videogames.empty? %>
    <h5>Video Games</h5>
    <ul>
        <% @videogames.each do |game| %>
            <li><%= link_to game.name, game_path(game) %></li>
        <% end %>
    </ul>
<% end %>

<% if !@cardgames.empty? %>
    <h5>Card Games</h5>
    <ul>
        <% @cardgames.each do |game| %>
            <li><%= link_to game.name, game_path(game) %></li>
        <% end %>
    </ul>
<% end %>

<% if !@dicegames.empty? %>
    <h5>Dice Games</h5>
    <ul>
        <% @dicegames.each do |game| %>
            <li><%= link_to game.name, game_path(game) %></li>
        <% end %>
    </ul>
    
<% end %>

<% if !@othergames.empty? %>
    <h5>Other Games</h5>
    <ul>
        <% @othergames.each do |game| %>
            <li><%= link_to game.name, game_path(game) %></li>
        <% end %>
    </ul>
<% end %>