<h1>New Game</h1>
<%= form_for @game do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :gametype, "Type" %>
    <%= f.select(:gametype, ["Board", "Video", "Card", "Dice", "Other"]) %><br>
    <%= f.submit %>
<% end %>
<br>
<%= link_to "Back to My Games", games_path %>